html
  body
    h1 Name: #{name}
    h3 Symbol: #{symbol}
    h3 Address:
      a(href="https://www.etherscan.io/address/"+address) #{address}
    hr
    p Total Invocations: #{totalSupply}
    p Projects List: #{projects}
    p Next Project Id: #{nextProjectId}
