html
  body
    h1 Name: #{name}
    h3 Artist: #{artist}
    h3 Description: #{description}
    h3 #{website}
    hr
    p Script JSON: #{scriptJSON}
    p Script Type: #{scriptType}
    p Version: #{scriptVersion}
    p Script Ratio: #{scriptRatio}
    p Instructions: #{instructions}
    p Hashes Generated per Token: #{hashesGen}
    p Dynamic Asset? #{isDynamic}
    hr
    p Artist Ethereum Address: #{artistAddress}
    p Additional Payee: #{additionalPayee}
    p Additional Payee Percentage: #{additionalPayeePercentage}
    p Price: #{price} ETH
    p Invocations: #{invocations}
    p Maximum Invocations: #{maxInvocations}
    p License: #{license}
    p Token Ids: #{tokensOfProject}
    p Active? #{active}
    p Paused? #{paused}
    hr
    p #[strong Script:]
    pre #{script}
